Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2021-11, with the labels that each got.

#640 #155 dail 12 month contact
  COMPLETE LIST OF SCRIPTS.vbs
  admin/dail-12-month-contact.vbs
Labels: Type: New Script, Category: BULK, Category: Updater, Category: QI, Category: DAIL, Jar: Sand

#637 #633 ACTIONS - PF11 ACTIONS: Remove PMI Merge functionality
  actions/pf11-actions.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Water

#639 #206 MASTER FUNCTIONS LIBRARY - New functions for SHEL, HEST, ADDR reading, display and update
  MASTER FUNCTIONS LIBRARY.vbs
  Test scripts/Casey/functions/shel_addr_hest_functions.vbs
  admin/testing_addr_shel_and_hest_functions.vbs
Labels: Category: FuncLib, Type: New Script Workflow, Jar: Boulder

#648 #614 - UTILITIES - Report to the BZST - Adding txt save your work file for CAF or Interview reports
  utilities/report-to-the-bzst.vbs
Labels: Type: Enhancement, Category: UTILITIES, Jar: Sand

#620 #189 new script on demand case notes for qi
  admin/on-demand-notes.vbs
Labels: Type: New Script

#651 #643 - NOTES - Interview - handling so we don't divide by zero
  notes/interview.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#621 #475 & 546 ADMIN-ON DEMAND APPLICATION
  admin/on-demand-waiver-applications.vbs
Labels: CRITICAL

#649 #642 - UTILITIES - Request Access to PRIV Case
  utilities/request-access-to-priv-case.vbs
Labels: Type: Enhancement, Category: UTILITIES, Jar: Sand
