Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2021-09, with the labels that each got.

#578 #345 Expedited Determination Functionality Release
  admin/expedited-determination-report.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ADMIN, Type: New Script Workflow, Jar: Boulder

#579 #548 NOTICES - Add WCOM - WCOM for ALL postponed verifs
  notices/add-wcom.vbs
Labels: Type: Enhancement, Category: NOTICES, Jar: Sand

#595 #587 admin expedited snap updates
  admin/expedited-review.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Sand

#600 #507, #508, #565, #575 Updates to NOTICES - PA Verif Request
  notices/pa-verif-request.vbs
Labels: Type: Enhancement, Category: NOTICES, Jar: Pebbles

#609 #553 hest standards
  MASTER FUNCTIONS LIBRARY.vbs
  notes/application-received.vbs
  notes/caf-testing.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
  notes/expedited-screening.vbs
  notes/interview.vbs
Labels: Type: Enhancement, Category: NOTES, Category: FuncLib, Jar: Sand

#613 #530 pf11 update nsi removal
  actions/pf11-actions.vbs
Labels: Type: Enhancement, Category: ACTIONS, Type: Housekeeping, Jar: Sand

#610 #187 utilities uc verification request
  utilities/uc-verification-request.vbs
Labels: Type: New Script, Category: UTILITIES

#607 #583 UTILITIES - QI AVS REQUEST
  utilities/qi-avs-request.vbs
Labels: Type: New Script, Category: UTILITIES
