Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-03, with the labels that each got.

#731 #728 - UTILITIES - Update Check Dates - bug on determining semi-monthly pay dates
  utilities/update-check-dates.vbs
Labels: Type: Bug, Category: UTILITIES, Jar: Water

#734 #723 - MHC - Enrollment - dialog display for exclusions that don't function
  managed-care/mc-enrollment.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Sand

#738 #694 NOTES - DOCS RECEIVED: Removed MFIP DVD option
  notes/documents-received.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#737 #733 q flow population
  admin/find-q-flow-population.vbs
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ADMIN, Jar: Water

#743 #741 DAIL - CSES Scrubber - pennies to the right people
  dail/cses-scrubber.vbs
Labels: Type: Housekeeping, Category: DAIL

#744 #704 NOTES - METS RETRO HC: Added fiat checkbox, change email 601 to…
  notes/mets-retro-health-care.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Sand

#750 #725 function convert_digit_to_excel_column: added supports through H…
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water

#753 #729 NOTES - Interview - Soft Release of MFIP Orientation Support
  notes/interview.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#758 #742 NOTES - APPLICATION RECEIVED: Added Adults EXP randomizer
  notes/application-received.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Sand

#760 #748 FUNCLib - start_spec_memo - BUG on Other ADDR fn
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: FuncLib, Jar: Water

#761 #392 - NOTES - Docs Recvd - MTAF - Remove Interview Date
  notes/documents-received.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#763 #749 - NOTES - CAF - Stability added for CASE NOTE functionality
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES, Jar: Pebbles

#766 #716 ACTIONS - Claim Referral Tracking - update prog and case status function
  actions/claim-referral-tracking.vbs
Labels: Category: FuncLib

#757 #700 DEU BULK MATCH CLEARED -reinstate
  deu/bulk-match-cleared.vbs
  deu/deu-main-menu.vbs
  retired-scripts/bulk-match-cleared.vbs
Labels: Category: BULK

#772 #762 FuncLib script_end_procedure: defaulting script success to succe…
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water

#777 #771 NOTES - CAF - ensure all exp det variables are numbers
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#776 #667 - ADMIN - On Demand Applications - Next Gen Update
  admin/on-demand-waiver-applications.vbs
Labels: Category: ADMIN, Type: New Script Workflow, Jar: Rocks

#778 #697 Removed APPLYMN verbiage from scripts
  actions/full-interview.vbs
  misc/complete-task.vbs
  misc/tasks-dash.vbs
  notes/application-check.vbs
  notes/application-received.vbs
  notes/interview.vbs
  notices/eligibility-notifier.vbs
  retired-scripts/waived-er-interview-screening.vbs
  utilities/lost-applymn.vbs
Labels: Category: NOTES, Category: ACTIONS, Category: UTILITIES, Type: Housekeeping, Jar: Sand

#782 #674 FuncLib: provide_resources_information: update mnbenefits website
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water
