Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-07, with the labels that each got.

#888 #498 BULK - DEU-MATCH CLEARED
  deu/bulk-match-cleared.vbs
Labels: Category: ACTIONS

#889 #493 handling for non disclosure agreement
  Test scripts/Ilse/Other/BULK - SSI-RSDI UPDATER.vbs
  actions/check-edrs.vbs
  actions/send-sves.vbs
  dail/bndx-scrubber.vbs
  dail/cola-sves-response.vbs
  dail/tpqy-response.vbs
  deu/atr-received.vbs
  deu/bulk-match-cleared.vbs
  deu/match-cleared.vbs
  deu/overpayment-claim-entered.vbs
  deu/paris-match-cleared-CC-claim-entered.vbs
  notes/interview.vbs
Labels: Type: Enhancement

#898 #123 - Eligibility Summary - Adding the script to testing availability
  COMPLETE LIST OF SCRIPTS.vbs
  MASTER FUNCTIONS LIBRARY.vbs
  misc/elig-main-menu.vbs
  notes/approved-programs.vbs
  notes/closed-programs.vbs
  notes/denied-programs.vbs
Labels: Category: FuncLib, Type: Housekeeping, Category: ADMIN

#890 #868 BULK - INACTIVE TRANSFER
  admin/bulk-inactive-transfer.vbs
Labels: Category: BULK

#899 #891 ADMIN - 12 MONTH CONTACT: Fixed bug w/ Priv cases
  admin/dail-12-month-contact.vbs
Labels: Type: Bug, Category: ADMIN, Jar: Water

#874 365 & 427 NOTES - RETURNED MAIL RECEIVED hc handling & update STAT/PACT
  notes/returned-mail-received.vbs
Labels: Type: Bug

#906 #886 NAV - POLI TEMP: fixed bug for EMSetCursor for INDEX option
  nav/nav-poli-temp.vbs
Labels: Type: Bug, Category: NAV, Jar: Water

#912 #624 NOTES - CLIENT CONTACT: added last DWP basket
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#917 #916 - ACTIONS - Earned Income Budgeting - make sure paycheck info is complete
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS

#919 918 notes ltc 5181 bug
  notes/ltc-5181.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#924 DEU - match cleared & bulk match cleared #921 & #922
  deu/bulk-match-cleared.vbs
  deu/match-cleared.vbs
Labels: CRITICAL
