Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-04, with the labels that each got.

#785 #779 MNbenefits naming convention
  MASTER FUNCTIONS LIBRARY.vbs
  admin/individual-appointment-letter.vbs
  admin/individual-nomi.vbs
  admin/individual-recertification-notices.vbs
  admin/on-demand-notes.vbs
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
  admin/track-autoclose-overpayments.vbs
  notes/application-received.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
  notes/interview.vbs
  notices/add-wcom.vbs
Labels: Type: Housekeeping, Jar: Water

#793 #792 NOTES - EMERGENCY: Updated 2022's 200% FPG amounts
  notes/emergency.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#795 #789 - 12 MONTH CONTACT: bug on Case Number Reading if >1 TIKL
  admin/dail-12-month-contact.vbs
Labels: Type: Bug, Category: QI, Category: ADMIN, Jar: Water

#802 #801 ADMIN - TASK-BASED DAIL CAPTURE: Added additional handling
  admin/task-based-dail-capture.vbs
Labels: Type: Bug, Category: QI, Category: ADMIN, Jar: Water

#805 #804 ltc grh list generator
  bulk/ltc-grh-list-generator.vbs
Labels: Type: Enhancement, Category: BULK, Jar: Water

#812 #667 ADMIN - Work Assignment Completed - Remove Correction Emails
  admin/work-assignment-completed.vbs
Labels: Type: Housekeeping, Category: ADMIN

#809 ACTIONS TRANSFER CASE #393, 442, 443, 466, 759 & 769 multi issue branch
  actions/transfer-case.vbs
Labels: Category: ACTIONS

#820 #815 ltc+ housing support basket updates
  Test scripts/Ilse/Other/get-basket-number.vbs
  admin/find-q-flow-population.vbs
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ADMIN, Jar: Sand

#823 #815 ltc+ housing support basket updates
  Test scripts/Ilse/Other/get-basket-number.vbs
  admin/find-q-flow-population.vbs
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ADMIN, Jar: Water

#822 #770 NOTES APPEALS BUG DOCKET NUMBER not case noting
  notes/appeals.vbs
Labels: CRITICAL
