Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-09, with the labels that each got.

#950 #940 ADMIN - Exp Det Report - worker data incorporated
  admin/expedited-determination-report.vbs
Labels: Category: BULK, Category: ADMIN, Type: Update Script Workflow

#956 946 qi hss updates
  admin/mont-report.vbs
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#929 927 NOTES - RETURNED MAIL - bug(s)
  COMPLETE LIST OF SCRIPTS.vbs
  notes/returned-mail.vbs
Labels: Type: Bug

#958 #937 Adding pending cases to a SQL Table for ES Workflow
  Test scripts/Casey/Utilities/delete-casey-entry-from-pending-table.vbs
  notes/application-received.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
Labels: Type: New Script Workflow, Jar: Pebbles

#955 #954 FuncLib: Updated FFY 2023's HEST Standards
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, CRITICAL, Type: Housekeeping, Jar: Water

#961 #937 NOTES - App Recvd - format x-number for SQL data
  notes/application-received.vbs
Labels: Category: NOTES, Jar: Water

#964 #257 Remove mention of VGO/ESSO from scripts
  admin/basket-review.vbs
  admin/on-demand-waiver-applications.vbs
  admin/vendor-list.vbs
  deu/rept-ievc-list.vbs
  managed-care/mc-enrollment-note.vbs
Labels: Pivot

#967 #944 NOTES - IMIG - EMA - add TIKL
  notes/imig-ema.vbs
Labels: Pivot

#970 #735 & #969 - UTILITIES - Copy Panels to Word - Output PIC and add a function for insert page break
  utilities/copy-panels-to-word.vbs
Labels: Type: Enhancement, Category: UTILITIES

#966 913 ebt card in office
  notes/application-received.vbs
  notes/expedited-screening.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#971 #941 UTILITIES - Request Access to PRIV Case - Update dialog
  utilities/request-access-to-priv-case.vbs
Labels: Pivot

#972 #952 ACTIONS - CHECK EDRS: Bug in dialog loop
  actions/check-edrs.vbs
Labels: Pivot

#975 923 memb 00 support
  MASTER FUNCTIONS LIBRARY.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  dail/wage-match-scrubber.vbs
Labels: Type: Enhancement, Category: FuncLib, Category: DAIL, Jar: Water

#978 976 mass change updates
  admin/cola-decimator.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Water

#986 #985 q flow updates
  admin/find-q-flow-population.vbs
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#989 #667 - Move On Demand Applications to using SQL instead of BOBI
  admin/on-demand-waiver-applications.vbs
Labels: Type: Enhancement, Category: BULK, Type: Housekeeping, Category: ADMIN
