Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-12, with the labels that each got.

#1075 #1060 rept revs
  bulk/rept-revs-list.vbs
Labels: Type: Enhancement, Category: BULK, Jar: Water, Pivot

#1073 #1068 FuncLib: Updated ten-day cutoff dates for 2023
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, Jar: Water

#1088 #1067 & #476 DAIL Scrubber Navigation
  dail/dail-scrubber.vbs
Labels: Type: Enhancement, Category: DAIL

#1091 #1024 ADMIN - WF1 Case Status - if case number is missing
  admin/wf1-case-status.vbs
Labels: Type: Bug, Category: ADMIN
