Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-11, with the labels that each got.

#1032 #1031 Updated holidays_array with 2023 holiday dates
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, Jar: Water

#1040 #1039 - DAIL - CSES Scrubber Bug on a REIN case no approved budget
  dail/cses-scrubber.vbs
Labels: Type: Bug, Category: DAIL, Jar: Water

#1043 #1042 NOTES - Application Check - Day 30 Handling
  notes/application-check.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Sand

#1046 #1038 NOTES - Interview - SNAP change Reporting - income threshold to 125
  notes/interview.vbs
Labels: Category: NOTES, Type: Housekeeping

#1044 915 bulk – inactive transfer
  COMPLETE LIST OF SCRIPTS.vbs
  Logic Maps/BULK - INAC Transfer Logic Map.docx
  admin/bulk-inactive-transfer.vbs
  admin/inactive-transfer.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Sand

#1048 1027 dail scrubber abawd
  dail/dail-scrubber.vbs
Labels: Type: Enhancement, Category: DAIL, Jar: Water

#1047 89 notes imig spon
  notes/imig-sponsor-income.vbs
  notes/imig-status.vbs
Labels: Type: Enhancement, Category: NOTES, Type: Housekeeping, Jar: Sand, Pivot

#1049 1014 notes ltc 5181
  notes/ltc-5181.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water, Pivot

#1052 #992 - NOTES - Emergency - Move screening display to Dialog
  notes/emergency.vbs
Labels: Type: Enhancement, Category: NOTES

#1054 #392 - NOTES - Docs Recvd - MTAF add check PROG for Intvw Date
  notes/documents-received.vbs
Labels: Category: NOTES

#1056 #983 DEU - BULK MATCH CLEARED: Fixed bug with incrementing excel row
  deu/bulk-match-cleared.vbs
Labels: Type: Bug, Jar: Water

#1064 #476 DAIL Scrubber - Read if in INQUIRY
  dail/dail-scrubber.vbs
Labels: Category: DAIL

#1061 #980 New Script and Functionality - Display Benefits
  MASTER FUNCTIONS LIBRARY.vbs
  notes/client-contact.vbs
  utilities/display-benefits.vbs
Labels: Category: UTILITIES, Category: FuncLib

#1065 #980 UTILITIES - Display Benefits - release script
  COMPLETE LIST OF SCRIPTS.vbs
  notes/client-contact.vbs
  utilities/main-menu.vbs
Labels: Category: UTILITIES

#1071 #1035 NOTES - OVERPAYMENT: Bug in writing the claim/note
  notes/overpayment.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water
