Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-08, with the labels that each got.

#930 887 NOTES - APPLICATION RECEIVED
  notes/application-received.vbs
Labels: Category: NOTES

#932 931 notes health care transition verbiage
  notes/health-care-transition.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#933 914 bulk fmed messages
  admin/dail-fmed-deduction.vbs
Labels: Type: New Script, Category: ADMIN, Jar: Sand

#935 934 work assignment completed
  admin/work-assignment-completed.vbs
Labels: Type: Enhancement, Category: QI, Category: ADMIN, Jar: Water

#943 #942 - ADMIN - Review Report - Bug with long programs list - MEMO too big
  admin/review-report.vbs
Labels: Type: Bug, Category: ADMIN, Jar: Water
