Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-05, with the labels that each got.

#825 #468 - Update Application Notices for In Person Option/Information
  admin/individual-appointment-letter.vbs
  admin/individual-nomi.vbs
  admin/on-demand-waiver-applications.vbs
  notes/application-received.vbs
Labels: Category: NOTES, Category: NOTICES, Type: Housekeeping, Category: ADMIN, Jar: Water

#826 #814 dail ievs updates
  dail/dail-scrubber.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  dail/tpqy-response.vbs
Labels: Type: Enhancement, CRITICAL, Category: DAIL, Jar: Pebbles

#831 #814 dail ievs bug fix
  dail/dail-scrubber.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
Labels: Type: Bug, Category: DAIL, Jar: Water

#834 #814 DAIL - NEW HIRE NDNH: Bug for INFC portion
  dail/new-hire-ndnh.vbs
Labels: Type: Bug, Category: DAIL, Jar: Water

#835 #372 MAXIS dialog navigation FUNCTION
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#837 #393 ACTIONS TRANSFER CASE
  actions/transfer-case.vbs
Labels: Category: ACTIONS, CRITICAL

#844 #814 DAIL - BNDX SCRUBBER: added handling for both SSN_present TRUE or FALSE
  dail/bndx-scrubber.vbs
Labels: Type: Enhancement, Category: DAIL, Jar: Water

#846 #393 ACTIONS TRANFER CASE bug fix
  actions/transfer-case.vbs
Labels: CRITICAL

#848 #847 uc verif request
  utilities/uc-verification-request.vbs
Labels: Type: Enhancement, Category: UTILITIES, Jar: Water

#853 847 pull request updates
  utilities/uc-verification-request.vbs
Labels: Type: Enhancement, Category: UTILITIES, Jar: Water

#854 #839 MASTER FUNCTIONS LIBRARY: added view_poli_temp function
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water

#852 816 sves covered quarters
  dail/dail-scrubber.vbs
  dail/tpqy-response.vbs
Labels: Type: New Script, Category: DAIL, Jar: Water

#856 839 view poli temp script updates
  actions/transfer-case.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
  notes/interview.vbs
Labels: Category: NOTES, Category: ACTIONS, Type: Housekeeping, Jar: Water

#865 863 notes csr
  notes/csr.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#859 814 closing project documentation
  dail/bndx-scrubber.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  dail/wage-match-scrubber.vbs
Labels: Type: Housekeeping, Category: DAIL, Jar: Water
