Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2022-10, with the labels that each got.

#993 #990 NOTES - Emergency - EGA screening bug when amounts are equal
  notes/emergency.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#998 #703 ADMIN - Work Assignment from Excel
  admin/work-assignment-from-excel.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Sand

#995 #798 ACTIONS - MA EPD FIATer - allow partial MA EPD Budget cases to work
  actions/ma-epd-ei-fiat.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Sand

#1011 #985 NOTES - CLIENT CONTACT: Removed adults/families from Q-flow
  notes/client-contact.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#1007 1006 task based dail capture updates
  admin/task-based-dail-capture.vbs
Labels: Type: Enhancement, Category: QI, Type: Housekeeping, Category: ADMIN, Jar: Water

#1015 #1002 MHC - Enrollment - update year for AHPS
  managed-care/mc-enrollment.vbs
Labels: Category: ACTIONS, Type: Housekeeping

#1012 895 dail decimator restart
  admin/dail-decimator.vbs
Labels: Type: Enhancement, Category: QI, Category: ADMIN, Jar: Water

#1019 #1018 - NOTES - Application Checkk - bug when PND2 display limit is reached
  notes/application-check.vbs
Labels: Type: Bug, Category: NOTES

#1017 #316 BUG due to removal of PF3 between case notes
  deu/appeal-summary-completed.vbs
  deu/atr-received.vbs
  deu/match-cleared.vbs
  deu/overpayment-claim-entered.vbs
  deu/paris-match-cleared-CC-claim-entered.vbs
Labels: CRITICAL

#1020 #904 NOTES - Interview - Agency Signature not needed
  notes/interview.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#1022 1021 health care scripts
  COMPLETE LIST OF SCRIPTS.vbs
  notes/caf.vbs
  notes/main-menu.vbs
  retired-scripts/hc-renewal.vbs
  retired-scripts/ltc-renewal.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#1028 86 notices out of state retirement
  COMPLETE LIST OF SCRIPTS.vbs
  notices/main-menu.vbs
  retired-scripts/out-of-state.vbs
Labels: Category: NOTICES, Type: Housekeeping, Jar: Water

#1026 1024 wf1 case status updates
  admin/wf1-case-status.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Sand
