Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-10, with the labels that each got.

#1507 #1234 notes main menu remove IMIG button
  COMPLETE LIST OF SCRIPTS.vbs
  locally-installed-files/redirect-notes.vbs
  notes/immigration-status.vbs
  notes/main-menu.vbs
  notes/sponsor-income.vbs
Labels: Category: NOTES, Jar: Water, LID

#1506 1413 1281 bulk poli temp
  Test scripts/Ilse/bulk-poli-temp-to-word.vbs
  admin/bulk-poli-temp-to-word.vbs
Labels: Type: New Script, Category: ADMIN, LID

#1516 #1512 sponsor income uses function to determine 130% FPG
  notes/sponsor-income.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1519 1449 notes hc transition person record number
  COMPLETE LIST OF SCRIPTS.vbs
  notes/health-care-transition.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1521 #1511 Notices - add wcom updates per te02.05.19
  notices/add-wcom.vbs
Labels: Type: Enhancement, Category: NOTICES, LID

#1522 #1253 New Script NOTES - Emergency Exceeds Approval Limits
  notes/emergency-exceeds-approval-limit.vbs
Labels: Category: NOTES, LID

#1523 #1491 NOTES - Appeals docket number is global
  notes/appeals.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1525 #1253 CLOS - add new script - NOTES - EMER Exceeds Approval Limit
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: New Script, Category: NOTES, LID

#1526 #1495 Add handling for names with extra spaces
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Sand, LID

#1528 #1443 NOTES - CAF - removing multiple dates if a program is 'unchecked' that caused the multiple dates
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES, LID

#1530 #1529 MHC - Enrollment - move to Open Enrollment for 2024
  managed-care/enrollment.vbs
Labels: Category: ACTIONS, Type: Housekeeping

#1534 #1533 ACTIONS - MA FIAT GRH-MSA - object bug fix
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS

#1536 1424 notes case discrepancy header update
  notes/case-discrepancy.vbs
Labels: Category: NOTES, LID

#1544 1543 Banked Months Updater bug fix for ineligible members
  actions/banked-months-updater.vbs
Labels: Type: Bug, Category: ACTIONS

#1551 #1549 NOTES - Vendor fixing dialog looping
  notes/vendor.vbs
Labels: Type: Bug, Category: NOTES

#1552 #1166 audit check_for_maxis
  actions/bils-updater.vbs
Labels: Category: ACTIONS, Type: Housekeeping

#1555 #1554 bug in HC evaluation
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES

#1556 #1554 fixing problems with the IMIG portion of the script
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES
