Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-08, with the labels that each got.

#1442 1369 non actionable dail
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water

#1448 #849 ADMIN - Review Report - add standard hc policy note any time
  admin/review-report.vbs
Labels: Category: BULK, Category: ADMIN, Type: New Script Workflow

#1456 #1447 removed dropbox ref
  admin/individual-recertification-notices.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water, LID

#1457 #1037 Created function for digital experience
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: NOTICES, Category: FuncLib, LID
