Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-04, with the labels that each got.

#1227 #1224 NOTES - EMERGENCY: Updated 200% FPG
  notes/emergency.vbs
Labels: Category: NOTES, CRITICAL, Type: Housekeeping, Jar: Water

#1236 #1218 - Releasing HC Evaluation to Testing - redirects in 3 scripts
  notes/hcapp.vbs
  notes/imig-ema.vbs
  notes/ltc-application-received.vbs
Labels: Category: NOTES

#1245 1240 hc screning application check
  notes/application-check.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water, Pivot

#1261 #1237 FUNC LIB - Add HCRE_panel_bypass function
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#1264 #1222 #1257 - Added numeric validation for claim# and updated AR Email
  notes/overpayment.vbs
Labels: Type: Enhancement, Category: NOTES, Type: Housekeeping

#1266 1224 and 1263 - notes emergency
  notes/emergency.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Sand, Pivot, LID

#1268 1238 hcre bypass cleanup
  Test scripts/Ilse/Restart scripts/BULK - restart IMIG.vbs
  Test scripts/Ilse/find-affliated-MMIS-case-info.vbs
  actions/add-grh-rate-2-to-mmis.vbs
  admin/close-mmis-rate-2-in-mmis.vbs
  admin/individual-recertification-notices.vbs
  admin/odr-stats-only.vbs
  admin/on-demand-notes.vbs
  notes/eligibility-summary.vbs
  notes/health-care-evaluation.vbs
  notes/interview.vbs
  utilities/qi-avs-request.vbs
Labels: Category: NOTES, Category: ACTIONS, Category: UTILITIES, Type: Housekeeping, Category: ADMIN

#1270 #1193 NOTES - Closed Programs - soft retire redirect
  notes/closed-programs.vbs
Labels: Category: NOTES, Type: Housekeeping

#1274 1225 update redirect files
  locally-installed-files/redirect-actions-check-edrs.vbs
  locally-installed-files/redirect-actions.vbs
  locally-installed-files/redirect-admin-main-menu.vbs
  locally-installed-files/redirect-bulk.vbs
  locally-installed-files/redirect-ca-main-menu.vbs
  locally-installed-files/redirect-dail-scrubber.vbs
  locally-installed-files/redirect-deu-main-menu.vbs
  locally-installed-files/redirect-elig-main-menu.vbs
  locally-installed-files/redirect-favorites.vbs
  locally-installed-files/redirect-ive-main-menu.vbs
  locally-installed-files/redirect-mc-main-menu.vbs
  locally-installed-files/redirect-notes-application-check.vbs
  locally-installed-files/redirect-notes-application-received.vbs
  locally-installed-files/redirect-notes-caf.vbs
  locally-installed-files/redirect-notes-client-contact.vbs
  locally-installed-files/redirect-notes-csr.vbs
  locally-installed-files/redirect-notes-documents-received.vbs
  locally-installed-files/redirect-notes-eligibility-summary.vbs
  locally-installed-files/redirect-notes-health-care.vbs
  locally-installed-files/redirect-notes-hrf.vbs
  locally-installed-files/redirect-notes-interview.vbs
  locally-installed-files/redirect-notes.vbs
  locally-installed-files/redirect-notices.vbs
  locally-installed-files/redirect-shelter-main-menu.vbs
  locally-installed-files/redirect-tag-blank-main-menu.vbs
  locally-installed-files/redirect-utilities-application-inquiry.vbs
  locally-installed-files/redirect-utilities-hot-topics.vbs
  locally-installed-files/redirect-utilities-qi-knowledge-now-request.vbs
  locally-installed-files/redirect-utilities-qi-priv-request.vbs
  locally-installed-files/redirect-utilities-report-to-the-bzst.vbs
  locally-installed-files/redirect-utilities-view-pnlp.vbs
  locally-installed-files/redirect-utilities.vbs
Labels: Type: Enhancement
