Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-02, with the labels that each got.

#1152 #981 TYPE - NEW SCRIPT TEMPLATE: Updated template
  TYPE - NEW SCRIPT TEMPLATE.vbs
Labels: Type: Enhancement, Jar: Water, LID

#1153 Overpayment updates
  notes/overpayment.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water, LID

#1159 #1158 - FUNC LIB - add LE option to read from access_ADDR_panel
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#1164 #1104 - NOTES- Subsequent Apps - dlg msg handling
  notes/subsequent-application.vbs
Labels: Category: NOTES

#1170 #1104 NOTES - Application Received - 2 apps - one is HC
  notes/application-received.vbs
Labels: Category: NOTES

#1173 #1171 - ADMIN - Review Report - add stats to count SNAP ER cases that…
  admin/review-report.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Sand, LID

#1175 All the poli temp
  admin/poli-temp-monthly-updates.vbs
  utilities/poli-temp-list.vbs
Labels: Type: Bug, Type: Enhancement, Category: UTILITIES, Category: ADMIN, Jar: Water, LID

#1178 1154 deu out of state
  deu/deu-main-menu.vbs
  retired-scripts/ebt-out-of-state.vbs
Labels: Type: Housekeeping, Jar: Water, LID

#1177 1169 notes mets retro hc
  COMPLETE LIST OF SCRIPTS.vbs
  notes/mets-retro-health-care.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water, LID

#1181 #1070 ADMIN -Main menu start on user specific area
  admin/admin-main-menu.vbs
Labels: Type: Housekeeping, Category: ADMIN, LID

#1183 #1165 - FUNC LIB - check_for_maxis verbiage change
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, LID

#1182 1179 retirement time
  COMPLETE LIST OF SCRIPTS.vbs
  bulk/main-menu.vbs
  retired-scripts/7th-sanction-identifier.vbs
  retired-scripts/fss-info.vbs
  retired-scripts/mfip-sanction.vbs
Labels: Category: BULK, Type: Housekeeping, Jar: Water

#1185 1184 deu retirement
  deu/deu-main-menu.vbs
  retired-scripts/appeal-summary-completed.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Sand, LID

#1186 #1085 ADMIN - Review Report only create table on stats once
  admin/review-report.vbs
Labels: Type: Enhancement, Category: BULK
