Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-12, with the labels that each got.

#1598 #1596 DAIL - REMEDIAL CARE: Updated 01/24 RC amount
  dail/ltc-remedial-care.vbs
Labels: Type: Enhancement, Type: Housekeeping, Category: DAIL, Jar: Water, LID

#1597 1594 december annual updates
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Type: Housekeeping, Jar: Water, LID

#1595 1593 monthly poli temp updates
  COMPLETE LIST OF SCRIPTS.vbs
  admin/poli-temp-monthly-updates.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Water

#1591 #1541 Create function to determine 200% of fpg
  MASTER FUNCTIONS LIBRARY.vbs
  notes/eligibility-summary.vbs
  notes/emergency.vbs
Labels: Type: Enhancement, Category: NOTES, Category: FuncLib, Type: Housekeeping, Jar: Sand, LID

#1586 1565 notes hc eval update case note
  notes/health-care-evaluation.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1604 1590 actions transfer case broken links
  COMPLETE LIST OF SCRIPTS.vbs
  actions/transfer-case.vbs
Labels: Type: Enhancement, Category: ACTIONS, LID

#1607 1379 abawd bulk work
  Test scripts/Ilse/abawd-report-dhs-discrepancy-reports.vbs
  Test scripts/Ilse/tlr-screening-tool.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Sand

#1605 #1601 NOTES - HC Eval leave loop for complete - boolean update
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#1608 #1168 NOTES - Interview add check_for_MAXIS
  notes/interview.vbs
Labels: Category: NOTES, Type: Housekeeping, LID

#1610 #1602 - ACTIONS - MA FIATer for MSA/GRH - error with COLA and SSI
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS, LID

#1614 #1612 ACTION - EIB - update save and nav from the PICs
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS
