Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-06, with the labels that each got.

#1336 #1335 Add links for policy and instr btns
  notes/health-care-evaluation.vbs
Labels: Type: Update Script Workflow, Pivot

#1339 #1307 - Hc Eval - Ex Parte - update REVW nav and dialog layout
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#1341 #1340 DAIL - LTC REMEDIAL CARE: Updated to 2023 amount
  dail/ltc-remedial-care.vbs
Labels: Type: Housekeeping, Category: DAIL, Jar: Water

#1342 #1331 NOTES - App Recvd - end script if case not found on PND2
  notes/application-received.vbs
Labels: Category: NOTES

#1344 #129 NOTES - HC Eval - add CAR and CSR forms
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#1345 #1343 DAIL - DAIL SCRUBBER: Added new ABAWD message
  dail/dail-scrubber.vbs
Labels: Type: Enhancement, Category: DAIL, Jar: Water

#1356 #1355 DAIL - CSES Scrubber - add start_a_blank_case_note
  dail/cses-scrubber.vbs
Labels: Type: Bug, Category: DAIL

#1357 850 abawd don't call it a come back
  COMPLETE LIST OF SCRIPTS.vbs
  MASTER FUNCTIONS LIBRARY.vbs
  actions/abawd-fset-exemption-check.vbs
  actions/main-menu.vbs
  notes/abawd-tracking-record.vbs
  notes/main-menu.vbs
  retired-scripts/abawd-waived-approval.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ACTIONS, Category: FuncLib, Type: Housekeeping, Jar: Pebbles

#1358 #1310 Ex Parte - Phase 2 - Display and CASE/NOTE information/determination
  notes/health-care-evaluation.vbs
Labels: Type: New Script Workflow, Pivot

#1363 #1359 - HC Eval - quick fix to default process type to Select One
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#1368 1349 dail pick bug
  Test scripts/Ilse/New Hire Discovery.vbs
  admin/dail-12-month-contact.vbs
  admin/dail-fmed-deduction.vbs
Labels: Type: Bug, Category: ADMIN, Jar: Water, LID

#1375 #1373 ADMIN - Training Case Creator - move HC REVW coordinates
  admin/training-case-creator.vbs
Labels: Type: Bug, Type: Housekeeping, Category: ADMIN

#1374 849 1323 revw rept updates for hc
  admin/review-report.vbs
Labels: Type: Enhancement, Type: Housekeeping, Category: ADMIN

#1367 1315 avs recert updates
  notes/avs.vbs
  utilities/qi-avs-request.vbs
Labels: Type: Enhancement, Category: NOTES, Category: UTILITIES, Jar: Water, LID

#1366 1363 hrf confirmation
  notes/hrf.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water, LID
