Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-09, with the labels that each got.

#1463 #1296 #1033 #1081 #1455 NOTES - Interview Q3 updates
  notes/interview.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES, Jar: Sand

#1459 1036 create make appointment &nomi functions
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, LID

#1470 1283 comp list of script references
  COMPLETE LIST OF SCRIPTS.vbs
  utilities/hot-topics.vbs
Labels: Type: Enhancement, Category: UTILITIES, Type: Housekeeping, Jar: Sand, LID

#1462 #363 DAIL - POSTPONED EXP SNAP VERIFICATIONS enhancement: Add MEMO to functionality
  dail/postponed-expedited-snap-verifications.vbs
Labels: Type: Enhancement, LID

#1472 1471 october annual function changes
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, Jar: Water

#1476 #363 DAIL - POSTPONED EXP SNAP VERIFICATIONS - Utilize digital_experience function
  dail/postponed-expedited-snap-verifications.vbs
Labels: Type: Enhancement, LID

#1477 #1466 FuncLib - add functionality to remove EIB save your work files from docs folder
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping

#1478 1469 replace snap button link
  notes/caf.vbs
  notes/expedited-determination.vbs
  notes/interview.vbs
Labels: Type: Bug, Category: NOTES, LID

#1480 1458 replace ind digital experience with function
  Test scripts/Ilse/Restart scripts/ADMIN - DAIL 12 MONTH CONTACT RESTART.vbs
  Test scripts/Ilse/Restart scripts/ADMIN - DAIL FMED DEDUCTION RESTART.vbs
  actions/job-change-reported.vbs
  admin/dail-12-month-contact.vbs
  admin/dail-fmed-deduction.vbs
  admin/individual-appointment-letter.vbs
  admin/individual-nomi.vbs
  admin/individual-recertification-notices.vbs
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
  dail/fmed-deduction.vbs
  dail/overdue-baby.vbs
  notes/application-received.vbs
  notes/denied-programs.vbs
  notes/subsequent-application.vbs
  notices/add-wcom.vbs
  notices/eligibility-notifier.vbs
Labels: Type: Housekeeping, Category: ADMIN, LID

#1483 #1452 & #1359 HC EVAL - Fix typos for presumptive eligibility and add functionality to determine if case is a recertification
  notes/health-care-evaluation.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1488 #1487 HC Eval make sure there is a HC member
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES

#1489 #1474 retire self pay shelter scripts
  COMPLETE LIST OF SCRIPTS.vbs
  retired-scripts/accounting-refund.vbs
  retired-scripts/personal-needs.vbs
  retired-scripts/reimb-shelter-acct.vbs
  shelter/shelter-main-menu.vbs
Labels: Type: Housekeeping, Jar: Water, LID

#1493 1479 banked months evaluator
  COMPLETE LIST OF SCRIPTS.vbs
  actions/banked-months-updater.vbs
Labels: Type: New Script, Category: ACTIONS, Jar: Sand, Pivot

#1494 #1081 NOTES - Interview slight update to EBT information
  notes/interview.vbs
Labels: Category: NOTES

#1497 #1458 redo digital experience update ind code with function
  MASTER FUNCTIONS LIBRARY.vbs
  Test scripts/Ilse/Restart scripts/ADMIN - DAIL 12 MONTH CONTACT RESTART.vbs
  Test scripts/Ilse/Restart scripts/ADMIN - DAIL FMED DEDUCTION RESTART.vbs
  actions/job-change-reported.vbs
  admin/dail-12-month-contact.vbs
  admin/dail-fmed-deduction.vbs
  admin/individual-appointment-letter.vbs
  admin/individual-nomi.vbs
  admin/individual-recertification-notices.vbs
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
  dail/fmed-deduction.vbs
  dail/overdue-baby.vbs
  notes/application-received.vbs
  notes/denied-programs.vbs
  notes/subsequent-application.vbs
  notices/add-wcom.vbs
  notices/eligibility-notifier.vbs
Labels: Type: Housekeeping, LID

#1481 1036 apply function appointment notice
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
  notes/application-received.vbs
Labels: Type: Enhancement, Category: FuncLib

#1496 #1034 ADMIN - Expedited Determination Report - using SQL table
  admin/expedited-determination-report.vbs
Labels: Type: Enhancement, Category: ADMIN

#1498 1458 appt notice funct on demand review report
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
Labels: Type: Housekeeping, LID

#1502 #1501 FuncLib - PHONE NUMBERS MOVED
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: FuncLib

#1503 #1501 - ADMIN - Training Case Creator - ADDR phone number moved
  admin/training-case-creator.vbs
Labels: Type: Bug, Category: ADMIN, Jar: Water

#1504 #1465 UTILITIES - All Scripts - add testing block of policy references
  utilities/all-scripts.vbs
Labels: Category: UTILITIES, Type: Housekeeping, LID

#1505 #1461 utilities - uc verif request user experience updates
  COMPLETE LIST OF SCRIPTS.vbs
  utilities/uc-verification-request.vbs
Labels: Type: Enhancement, Category: UTILITIES, Type: Housekeeping, Jar: Water, LID
