Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-07, with the labels that each got.

#1377 #1370 MISC EZZ Parte: 1370-SPEC-MEMO-MSP-only: MEMO for MSP Only
  misc/Ex Parte/1370-SPEC-MEMO-MSP-only.vbs
Labels: Category: NOTES, Type: New Script Workflow, Jar: Sand

#1381 #1362 ADMIN - Review Report - Remove July Jam
  admin/review-report.vbs
Labels: Category: ADMIN

#1386 1369 ex parte tikl support
  admin/task-based-dail-capture.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Water

#1387 #702 memb 'access denied' issues in scripts and functions
  MASTER FUNCTIONS LIBRARY.vbs
  actions/full-interview.vbs
  admin/testing_addr_shel_and_hest_functions.vbs
  deu/atr-received.vbs
  notes/health-care-evaluation.vbs
  notes/interview.vbs
  utilities/va-verification-request.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES, Jar: Sand, LID

#1391 #702 memb 'access denied' issues in scripts and functions addl scripts
  Test scripts/Ilse/Restart scripts/BULK - restart IMIG.vbs
  admin/resolve-hc-eomc-in-mmis.vbs
  admin/track-autoclose-overpayments.vbs
  notes/mfip-orientation.vbs
  utilities/uc-verification-request.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES, Jar: Sand, LID

#1393 #1392 ACTIONS - MA Fiat MSA-GRH - end script if pop up is blank
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS, Jar: Water

#1402 #1401 - ACTIONS - MA FIAT for MSA-GRH - don't do asset things if no assets
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS

#1405 #1203 NOTES - CAF - don't read HC or REVW information because we don't care
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES, CRITICAL

#1406 #1203 NOTES - CAF better handling for finding if GRH is at ER
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES

#1412 #1203 - NOTES - CAF - look at application dates up to 90 days old
  notes/caf.vbs
Labels: Category: NOTES

#1414 #1203 - NOTES - CAF - read PROG if REVW is T - make app if app date after ER
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES

#1426 #1425 ADMIN - Resolve HC EOMC - add email output to QI
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1423 #1422 DAIL - BNDX Scrubber: fixed bug in delete function
  dail/bndx-scrubber.vbs
Labels: Type: Bug, Category: DAIL, Jar: Water

#1428 #1425 ADMIN - Resolve HC EOMC - autosave excel
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1431 1415 verif request
  COMPLETE LIST OF SCRIPTS.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  notices/main-menu.vbs
  notices/verifications-still-needed.vbs
  retired-scripts/verifications-needed.vbs
Labels: Type: Enhancement, Category: NOTICES, Type: Housekeeping, Category: DAIL, Jar: Water, LID

#1407 #540 call create outlook email enhancement
  MASTER FUNCTIONS LIBRARY.vbs
  Test scripts/Ilse/Temp Files for DHS HS/hss-maxis-facility-report.vbs
  Test scripts/Ilse/Temp Files for DHS HS/hss-service-authorization-update.vbs
  Test scripts/Mark/call-create_outlook_email-enhancement.vbs
  actions/job-change-reported.vbs
  admin/delete-dail-tasks.vbs
  admin/expedited-determination-report.vbs
  admin/mont-report.vbs
  admin/on-demand-dashboard.vbs
  admin/on-demand-waiver-applications.vbs
  admin/review-report.vbs
  admin/task-based-dail-capture.vbs
  admin/work-assignment-completed.vbs
  admin/work-assignment-from-excel.vbs
  case-assignment/mippa.vbs
  deu/adh-info-and-hearing.vbs
  deu/match-cleared.vbs
  deu/paris-match-CC-claim-entered.vbs
  misc/desert-island-menu.vbs
  misc/tags-main-menu.vbs
  notes/application-received.vbs
  notes/caf.vbs
  notes/csr-testing.vbs
  notes/expedited-determination.vbs
  notes/imig-status.vbs
  notes/interview.vbs
  notes/mets-retro-health-care.vbs
  notes/overpayment.vbs
  notes/subsequent-application.vbs
  utilities/application-inquiry.vbs
  utilities/contact-knowledge-now.vbs
  utilities/qi-avs-request.vbs
  utilities/report-to-the-bzst.vbs
  utilities/request-access-to-priv-case.vbs
  utilities/uc-verification-request.vbs
  utilities/va-verification-request.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Sand, LID

#1437 #1418 #1228 FuncLib updates to statistics and determine_prog_and_case_status
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#1438 #1378 & #1352 - NOTES - CAF - adding DHS-2128 & Redirect to HC Eval
  notes/caf.vbs
Labels: Type: Enhancement, Category: NOTES

#1439 #1425 ADMIN - Resolved HC EOMC - align email to function library
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Category: ADMIN
