Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-11, with the labels that each got.

#1558 #1557 Funclib Holiday_Array: Updated w/ 2024 holiday dates
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, Jar: Water

#1560 #1559 ACTIONS - BANKED MONTHS UPDATER: Bug in reading counted BM year
  actions/banked-months-updater.vbs
Labels: Type: Bug, Category: ACTIONS, Jar: Water

#1562 #1561 Fix typo in write_value_and_transmit on STAT/MEMB
  notes/smrt.vbs
Labels: Type: Bug, Category: NOTES

#1563 #1256 universal date function
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping

#1564 #1233 retire NOTES - LTC intake approval
  COMPLETE LIST OF SCRIPTS.vbs
  notes/main-menu.vbs
  retired-scripts/ltc-intake-approval.vbs
Labels: Category: NOTES, Type: Housekeeping

#1567 #1566 ACTIONS - TRANSFER CASE: Fixed MA excluded time bug
  actions/transfer-case.vbs
Labels: Type: Bug, Category: ACTIONS, Jar: Water

#1573 #1529 MHC - Enrollment - Updated enrollment cutoff dates for 2024
  managed-care/enrollment.vbs
Labels: Type: Housekeeping

#1577 #1166 updating check_for_maxis function for dialog1 standards
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Housekeeping, LID

#1578 #1553 Ensure script is only run in production
  actions/pf11-actions.vbs
Labels: Type: Enhancement, Category: ACTIONS, LID

#1580 1575 retire work assignment completed
  COMPLETE LIST OF SCRIPTS.vbs
  admin/work-assignment-completed.vbs
  retired-scripts/work-assignment-completed.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#1579 1446 remove ltc button from notes main menu and include LTC scripts in alpha categories
  notes/main-menu.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water, Long Game, LID

#1576 #1572 ADMIN - Ex Parte - set up verifs list to save first
  admin/ex-parte-report.vbs
Labels: Category: ADMIN

#1582 #1446 Updated CLOS for LTC
  COMPLETE LIST OF SCRIPTS.vbs
Labels: LID

#1584 1568 dail decimator duplicate counts
  admin/dail-decimator.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Water, LID

#1583 #1190 update client contact to prevent use of the script to case note an interview
  notes/client-contact.vbs
Labels: Type: Enhancement, Type: New Script Workflow, Jar: Sand, LID

#1587 #1542 poli temp to word whitespace formatting
  admin/bulk-poli-temp-to-word.vbs
  admin/poli-temp-monthly-updates.vbs
  utilities/poli-temp-to-word.vbs
Labels: Type: Housekeeping, Category: ADMIN, LID

#1585 #1540 fix wording and allow full sentence to display.
  actions/ma-epd-ei-fiat.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1589 #1588 Update to 4/2023 200% FPG limits for EA
  notes/eligibility-summary.vbs
Labels: Category: NOTES, Type: Housekeeping
