Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-05, with the labels that each got.

#1279 1258 update ltc asset transfer proj std
  COMPLETE LIST OF SCRIPTS.vbs
  notices/ltc-asset-transfer.vbs
Labels: Type: Enhancement, Category: NOTICES

#1286 #1194 Soft Retire NOTES - Approved Progs
  notes/approved-programs.vbs
Labels: Category: NOTES

#1285 #1193 - NOTES - Closed Programs - Redirect every run to Eligibility Summary
  notes/closed-programs.vbs
Labels: Type: New Script, Category: NOTES

#1287 #1284 avs tikl update
  notes/avs.vbs
Labels: LID

#1289 #1275 Notices - PA Verif Request
  notices/pa-verif-request.vbs
Labels: Category: NOTICES, Type: Housekeeping, LID

#1291 #452 CLOS - Update the Hot Topics info for the scripts
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Housekeeping

#1301 #1278 MA Inmate Application WCOM - Update CLOS Retirement Date
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Category: NOTICES, Type: Housekeeping, Jar: Water, LID

#1302 1273 remove bzst from mmis&one source redirects
  locally-installed-files/redirect-utilities-mmis-manual.vbs
  locally-installed-files/redirect-utilities-one-source.vbs
Labels: Type: Housekeeping, Category: NAV

#1314 #1232 - LTC Transfer Penalty Complete List of Scripts update
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Enhancement, Category: NOTES, Type: Housekeeping

#1318 Review report updates
  admin/review-report.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Sand

#1325 #1254 ACTIONS - TRANSFER CASE: Ensure dates will work for specific formats
  actions/transfer-case.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Water, LID

#1327 #1320 add more date constants to func lib
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water

#1328 #129 NOTES - HC Eval - add recert option
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#1332 #1307 phase 1 display, verify, and case note ex parte information
  misc/Ex Parte/1307-Phase-1-Display-Verify-CASE-NOTE-Ex-Parte-Info.vbs
Labels: Type: New Script Workflow, Pivot
