Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2023-01, with the labels that each got.

#1121 #623 NOTES - CAF - bug fix to the interview date required functionality
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES

#1120 All the retirements
  COMPLETE LIST OF SCRIPTS.vbs
  actions/main-menu.vbs
  retired-scripts/abawd-fiater.vbs
  retired-scripts/abawd-fset-exemption-check.vbs
  retired-scripts/abawd-screening-tool.vbs
  retired-scripts/abawd-tracking-record.vbs
  retired-scripts/enroll-in-script-demo.vbs
  retired-scripts/msq.vbs
Labels: Category: NOTES, Category: ACTIONS, Type: Housekeeping, Jar: Water, LID

#1124 #1109 ELIG Menu - add a reading of the retirement date
  misc/elig-main-menu.vbs
Labels: Type: Bug

#1125 #476 DAIL Scrubber - script end if in inquiry sometimes
  dail/dail-scrubber.vbs
Labels: Type: Enhancement, Category: DAIL, Jar: Sand

#1126 #486 Closing Issue Documentation: added reviewing dialog
  CLOSING ISSUE DOCUMENTATION.vbs
Labels: Type: Enhancement, Type: Housekeeping, Jar: Water

#1128 1123 transfer case script low down
  actions/transfer-case.vbs
Labels: Category: ACTIONS, Type: Housekeeping, Jar: Water

#1129 #1105 NOTES - Application Check - messaging for PND2 Display Limit
  notes/application-check.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#1130 #1115 ADMIN - ON DEMAND: removed denial info
  admin/on-demand-notes.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#1131 #201 move Budget Estimator to retired scripts
  retired-scripts/budget-estimator.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#1134 #260 BULK - DAIL Report - update excel row iteration
  bulk/dail-report.vbs
Labels: Category: BULK, Type: Housekeeping, Category: DAIL

#1135 #1097 NOTES - CAF - determining the starting UNEA amount for EXP
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES

#1136 1106 actions pf11 actions enhancements
  actions/pf11-actions.vbs
Labels: Type: Bug, Type: Enhancement, Category: ACTIONS, Type: Housekeeping, Jar: Sand, LID

#1133 #1090 ACTIONS Job Change Reported new job before first month
  actions/job-change-reported.vbs
Labels: Type: Bug, Category: ACTIONS, Jar: Sand

#1138 #1122 NOTES - Docs Recvd - Remove old testing code
  notes/documents-received.vbs
Labels: Category: NOTES, Type: Housekeeping

#1146 1140 retirement time
  COMPLETE LIST OF SCRIPTS.vbs
  retired-scripts/task-based-assistor.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water, LID

#1147 1139 ecf verbiage updates
  admin/cs-good-cause.vbs
  dail/catch-all.vbs
  dail/incarceration.vbs
  dail/medi-check.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  deu/bulk-match-cleared.vbs
  deu/match-cleared.vbs
  deu/overpayment-claim-entered.vbs
  iv-e/ive-adoption-assistance.vbs
  iv-e/ive-ma-needy-child.vbs
  notes/appeals.vbs
  notes/application-check.vbs
  notes/avs.vbs
  notes/change-reported.vbs
  notes/documents-received.vbs
  notes/health-care-transition.vbs
  notes/imig-status.vbs
  notes/returned-mail.vbs
  notes/smrt.vbs
  shelter/shelter-change-reported.vbs
Labels: Category: NOTES, Type: Housekeeping, Category: DAIL, Jar: Water, LID

#1149 1142 file exists function
  MASTER FUNCTIONS LIBRARY.vbs
  Test scripts/Ilse/bulk-poli-temp-to-word.vbs
  admin/on-demand-waiver-applications.vbs
  admin/work-assignment-completed.vbs
  misc/log-hours-and-activity.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water, LID
