Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-05, with the labels that each got.

#1795 #1776 Changes to ex-parte Y/N field on stat/revw and HCMI
  admin/training-case-creator.vbs
  notes/health-care-evaluation.vbs
Labels: Category: NOTES, Category: ADMIN, Jar: Sand

#1810 1790 dail clean up functionality to remove hire messages over 12 months old
  Test scripts/Mark/dail-hire-decimator-over-12-months.vbs
Labels: Type: New Script, Category: DAIL, Category: ADMIN, Jar: Sand

#1819 #123 NOTES - Elig Summ - SNAP Enhancements
  notes/eligibility-summary.vbs
Labels: Type: Enhancement, Category: NOTES

#1817 1813 func lib addr hest shel function
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, LID

#1820 1789 notes returned mail, update to reflect unclear info
  notes/returned-mail.vbs
Labels: Category: NOTES, Jar: Rocks

#1815 1796 notes disaster food replacement, update to reflect new poli/temp guidance
  notes/disaster-food-replacement.vbs
Labels: Category: NOTES, Category: NOTICES, Type: Update Script Workflow, Jar: Rocks

#1827 #1816 Client contact NAV error if in a case note
  notes/client-contact.vbs
Labels: Type: Bug, Category: NOTES, LID

#1826 #1823 NOTES - CAF: updated FSET and ABAWD statuses
  notes/caf.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water, LID

#1829 #1824 DEU - MATCH CLEARED: Updated messaging for blank co workers
  deu/match-cleared.vbs
Labels: Type: Enhancement, Jar: Water, LID

#1832 1822 error reported with work# url
  locally-installed-files/Hennepin power pad.pad
  locally-installed-files/Specialty pad.pad
Labels: Type: Housekeeping, LID

#1831 1768 DAIL - New Hire & New Hire NDNH, update tikl language
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
Labels: Category: DAIL, Jar: Sand, LID

#1836 #1821 NOTES - App Recvd - Add HCMC and North Memorial Contracted Caseloads
  notes/application-received.vbs
Labels: Category: NOTES, Type: Housekeeping

#1835 #1834 BNDX DAIL SCRUBBER -- Added readscreen for SSN on INFC and formatted SSN from Memb for validation check
  dail/bndx-scrubber.vbs
Labels: Category: DAIL, LID

#1833 #1194 NOTES - Approved Programs - Final sundown message
  notes/approved-programs.vbs
Labels: Category: NOTES, Type: Housekeeping

#1838 #1744 Fixes date variable to ensure it writes to PROG
  notes/snap-waived-interview.vbs
Labels: Type: Bug, Category: NOTES, LID

#1839 #1807 ACTIONS - EIB - check to ensure panels can be updated
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS

#1830 1803 retire auto dialer
  COMPLETE LIST OF SCRIPTS.vbs
  retired-scripts/auto-dialer-case-status.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water, LID

#1843 #123 NOTES - ELIG SUMM QC reviews and Ready to be alone
  notes/eligibility-summary.vbs
Labels: Type: Enhancement, Category: NOTES
