Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-08, with the labels that each got.

#1921 #485 NOTES - GRH NON HRF POSTPAY, evaluate script and functions
  notes/grh-non-hrf-postpay.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Pebbles

#1925 #1923 & #1924 Elig Summ - overlap/missing diets verbiage & msp verifs fail
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES

#1929 #1811 - App Recvd - GRH transfer Process Update
  notes/application-received.vbs
Labels: Type: Enhancement, Category: NOTES

#1926 #671 ADMIN - DAIL UNCLEAR INFO
  COMPLETE LIST OF SCRIPTS.vbs
  admin/dail-unclear-information.vbs
Labels: Type: New Script, Category: BULK, Category: DAIL, Jar: Boulder

#1930 #1923 NOTES - Elig Summ - MF Spec Diet allow multiple Members
  notes/eligibility-summary.vbs
Labels: Type: Enhancement, Category: NOTES

#1894 425 documents received updated dashboard feel and new forms
  notes/documents-received-testing.vbs
  notes/documents-received.vbs
Labels: Category: NOTES

#1932 1907 dail merger cola to ccd
  COMPLETE LIST OF SCRIPTS.vbs
  admin/dail-ccd.vbs
  retired-scripts/cola-decimator.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water, LID

#1933 #689 Work rules added to interview.
  notes/interview.vbs
Labels: Category: NOTES, Jar: Water, LID

#1934 1464 utilities all scripts and clos hyperlink functionality for te resources
  COMPLETE LIST OF SCRIPTS.vbs
  utilities/all-scripts.vbs
Labels: Category: UTILITIES, LID

#1936 #1928 ACTIONS - MA EPD EI FIAT - Search for MEMB better
  actions/ma-epd-ei-fiat.vbs
Labels: Type: Bug, Category: ACTIONS

#1935 #37 New Script - NAV - Find MEMB in MMIS
  nav/nav-find-memb-in-mmis.vbs
Labels: Type: New Script, Category: NAV

#1939 1364 NOTES - HC EVAL, require some review
  notes/health-care-evaluation.vbs
Labels: Category: NOTES, LID

#1947 #1945 ADMIN - Review Report - Stats File Path Change
  admin/review-report.vbs
Labels: Category: BULK, Type: Housekeeping

#1943 #1473 NOTES - EBT Stolen Benefits, update denial reasons
  notes/ebt-benefits-stolen.vbs
Labels: Type: New Script, Category: NOTES, Type: New Script Workflow, Jar: Rocks

#1950 #1948 NOTES - Elig Summ - HC Spenddown Type Bug
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#1949 #1946 NOTES - CAF - interview date from script run bug
  notes/caf.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#1955 #425 Simple fixes based on feedback
  notes/documents-received-testing.vbs
Labels: Category: NOTES

#1959 #1957 ADMIN - Review Report - excel and array clean up
  admin/review-report.vbs
Labels: Category: ADMIN
