Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-11, with the labels that each got.

#2063 1782 sundown snap waived remove access to script
  COMPLETE LIST OF SCRIPTS.vbs
  notes/main-menu.vbs
  notes/snap-waived-interview.vbs
Labels: Category: NOTES

#2068 #2017 DAIL SCRUBBER - DAIL Reference Script, handling for SDX MATCH
  COMPLETE LIST OF SCRIPTS.vbs
  dail/dail-scrubber.vbs
  dail/sdx-match.vbs
Labels: Category: DAIL, Type: New Script Workflow

#2065 #2064 function start_a_blank_case_note - Check if case note already open and open a new case note if needed
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: FuncLib

#2069 Revert "#2064 function start_a_blank_case_note - Check if case note already open and open a new case note if needed"
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#2071 #2064 NOTES - Elig Summ - Back out of all Case Notes after completed
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2074 #2070 fixed bug related to start blank case note
  notes/documents-received.vbs
Labels: Category: NOTES

#2066 568 1198 1539 2055 603 notes interview revisions
  notes/interview.vbs
Labels: Category: NOTES

#2076 2075 update addr & hest
  MASTER FUNCTIONS LIBRARY.vbs
  notes/documents-received.vbs
Labels: Category: NOTES, Category: FuncLib

#2078 #2077 - Elig Summ - spenddown information output bug
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES

#2073 #2072 On Demand Applications - automate folder management
  admin/on-demand-waiver-applications.vbs
Labels: Category: ADMIN
