Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-03, with the labels that each got.

#1698 1632 addr report
  COMPLETE LIST OF SCRIPTS.vbs
  admin/address-report.vbs
  retired-scripts/address-report.vbs
Labels: Category: ADMIN, Type: New Script Workflow, Jar: Water, LID

#1712 #1527 XML file cleanup: CLOS update
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Category: UTILITIES, Type: Housekeeping, LID

#1699 1636 notes proof of relationship resolve hh memb issues
  notes/proof-of-relationship.vbs
Labels: Category: NOTES, Jar: Pebbles, LID

#1702 #925 AUDIT - start_a_blank_CASE_NOTE()
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Jar: Rocks, LID

#1700 #1685 New Script - ADMIN - Individual On Demand Notices
  admin/individual-on-demand-notices.vbs
Labels: Type: Housekeeping, Category: ADMIN, LID

#1715 #123 & #1711 NOTES - Eligibility Summary - HC Supports and Bug Fix
  notes/eligibility-summary.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES

#1720 1714 actions transfer case link updates
  actions/transfer-case.vbs
Labels: LID

#1722 1709 DAIL - NEW HIRE NDNH, indicate employer name on INFC dialog
  dail/new-hire-ndnh.vbs
Labels: Category: DAIL, Jar: Sand, LID

#1723 1671 dail enhancement updates
  MASTER FUNCTIONS LIBRARY.vbs
  admin/dail-decimator.vbs
  admin/task-based-dail-capture.vbs
Labels: Type: Enhancement, Category: FuncLib, Category: ADMIN, Jar: Sand, LID

#1725 1454 Add function complete mfip orientation to func lib
  MASTER FUNCTIONS LIBRARY.vbs
  dail/mfip-orientation-dail.vbs
  notes/interview.vbs
  notes/mfip-orientation.vbs
Labels: Type: Enhancement, Category: NOTES, Category: FuncLib, Type: Housekeeping, Jar: Water, LID

#1726 #123 NOTES - Elig Summ - Date of Death Handling and other verbiage supports
  notes/eligibility-summary.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES

#1727 #1719 Production check function in admin report scripts
  MASTER FUNCTIONS LIBRARY.vbs
  admin/dail-12-month-contact.vbs
  admin/dail-ccd.vbs
  admin/dail-fmed-deduction.vbs
Labels: Category: ADMIN, LID

#1734 #1717 Update function determine_200_percent_of_FPG for April 2024 Changes
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, Jar: Water, LID

#1738 1733 notices phone hours change
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, Jar: Water, Pivot

#1739 1632 retire addr report
  COMPLETE LIST OF SCRIPTS.vbs
  retired-scripts/address-report.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#1732 #1731 ACTIONS - Earned Income Budgeting - JOBS Panel find bug fix
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS

#1740 925 Function start_a_blank_case_note - Include screen code in error reporting
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Jar: Rocks, LID

#1746 1716 banked months updater
  actions/banked-months-updater.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Water, Pivot

#1745 #1744 Waived Interview no contact
  notes/snap-waived-interview.vbs
Labels: Type: Bug, Category: NOTES, Jar: Water

#1754 #1751 AVS Name Change
  notes/avs.vbs
  utilities/qi-avs-request.vbs
Labels: Category: NOTES, Category: UTILITIES, Type: Housekeeping, Jar: Water, LID

#1728 #907 New Scripts - UTILITIES - Elig Results to Word
  utilities/elig-results-to-word.vbs
Labels: Type: New Script, Category: UTILITIES, LID

#1757 #907 CLOS - add ELIG Results to Word
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: New Script, Category: UTILITIES

#1759 #1737 NOTES - Subsequent App - Remove Transfer Autofill
  notes/subsequent-application.vbs
Labels: Category: NOTES, Type: Housekeeping
