Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-09, with the labels that each got.

#1963 #1923 & #1958 & #1951 Elig Summ - Policy updates
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#1970 1969 ga mass change
  MASTER FUNCTIONS LIBRARY.vbs
  admin/dail-ccd.vbs
Labels: Type: Enhancement, Category: ACTIONS, Category: FuncLib, Category: ADMIN, Jar: Water

#1972 #1848 NOTES - DISASTER FOOD REPLACEMENT, update to reflect 06/2024 POLI/TEMP guidance
  notes/disaster-food-replacement.vbs
Labels: Category: NOTES, Type: Update Script Workflow

#1976 #1951 & #1975 NOTES - Elig Summ - HC Elig Nav Change - GHR SSI Budg add info
  notes/eligibility-summary.vbs
Labels: Type: Bug, CRITICAL

#1979 #1951 NOTES - Elig Summ - GRH Supp Hsg Disrgd WCOM
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#1978 #1974 ADMIN - DAIL FMED DEDUCTION, improve handling for DAIL to prevent error at SELF
  admin/dail-fmed-deduction.vbs
Labels: Type: Bug, Category: DAIL, Category: ADMIN

#1983 #1967 ADMIN - On Demand Dashboard - remove single quote from strings
  admin/on-demand-dashboard.vbs
Labels: Type: Bug, Category: ADMIN

#1985 #1613 ACTIONS - EIB - update SemiMonthly dates handling
  actions/earned-income-budgeting.vbs
Labels: Category: ACTIONS

#1986 #1938 NOTES - CAF, allow script to proceed even if EMER interview date is missing
  notes/caf.vbs
Labels: Category: NOTES, Type: Update Script Workflow, LID

#1988 #1901, #43, #1942, #1971 & #1937 - LID Updates in Eligibility Summary
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#1992 #1971 NOTES - Elig Summ - bug in reading and eval MSA
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES

#1995 #1994 ADMIN - Resolve HC EOMC in MMIS - bug with NAT error
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Type: Bug, Category: BULK, Category: ADMIN

#1991 #1965 NOTES - HC Eval - Add Remedial Care Reminder
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#2003 #2002 NOTES - App Recvd - second cash pending bug fix
  notes/application-received.vbs
Labels: Category: NOTES

#2001 #1376 IVE - Adoption Assistance - switch close and placement ended
  iv-e/adoption-assistance.vbs
Labels: Category: NOTES

#1989 425 documents received updated dashboard feel and new forms
  notes/documents-received-testing.vbs
Labels: Category: NOTES

#2000 #1998 function start_a_blank_CASE_NOTE() - improve error handling
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib
