Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-01, with the labels that each got.

#1616 #1282 New Script - SNAP Waived Interview
  COMPLETE LIST OF SCRIPTS.vbs
  notes/SNAP-waived-interview.vbs
  notes/main-menu.vbs
Labels: Type: New Script, Category: NOTES, Jar: Rocks, Pivot

#1615 1606 tlr screening
  actions/tlr-screening.vbs
Labels: Type: New Script, Category: ACTIONS, Jar: Sand

#1617 #1606 CLoS: Added TLR Screening, retired ABAWD EXEMPTION
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: New Script, Category: ACTIONS, Jar: Sand

#1618 COMPLETE LIST OF SCRIPTS: Added Q4 & Q1 communications to CLoS
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Housekeeping, Jar: Water

#1620 #1282 snap waived interview bug fixes
  notes/snap-waived-interview.vbs
Labels: Type: Bug, Category: NOTES

#1625 #1624 ACTIONS - MA FIATer for MSA GRH - bug when reading date
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS, Jar: Water

#1631 #1282 snap waived interview bug fixes and enhancements
  notes/snap-waived-interview.vbs
Labels: Type: Bug, Type: Enhancement, Category: NOTES

#1635 1500 eib attach file to error emails
  MASTER FUNCTIONS LIBRARY.vbs
  utilities/report-to-the-bzst.vbs
Labels: Type: Enhancement, Category: FuncLib, Type: Housekeeping, LID

#1637 #1622 Add Return Contact to SNAP Waived Interview
  notes/snap-waived-interview.vbs
Labels: Type: Enhancement, Category: NOTES

#1640 #1633 NOTES - App Received - replace single quote for SQL
  notes/application-received.vbs
Labels: Type: Bug, Category: NOTES

#1641 #1619 ADMIN - Review Report - U Code list - cash progs wrong column
  admin/review-report.vbs
Labels: Type: Bug, Category: ADMIN

#1642 #1639 ADMIN - On Demand Apps - no assignment for cases over day 30
  admin/on-demand-waiver-applications.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1644 #1643 NOTES - HC Eval - BUG in baseline date if not a date
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES

#1648 1645 case transfer updates
  COMPLETE LIST OF SCRIPTS.vbs
  actions/transfer-case.vbs
  admin/case-transfer.vbs
  bulk/main-menu.vbs
Labels: Type: Enhancement, Category: BULK, Category: ACTIONS, Category: ADMIN, Jar: Water, Pivot

#1649 #1645 ACTIONS - Transfer Case - closing message additional verbiage
  actions/transfer-case.vbs
Labels: Category: ACTIONS

#1647 #1646 ACTIONS - MA FIATer for MSA-GRH - deeming functionality minor bugs
  actions/ma-fiater-for-grh-msa.vbs
Labels: Type: Bug, Category: ACTIONS

#1653 #1652 ADMIN - Resolve HC EOMC - closing excel report and email BZST
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Type: Enhancement, Category: BULK, Category: ADMIN

#1656 1606 tlr enhancements
  actions/tlr-screening.vbs
Labels: Type: Enhancement, Category: ACTIONS, Jar: Water

#1659 #1657 NOTES - HC Eval - add Form 8262 to selection
  notes/health-care-evaluation.vbs
Labels: Category: NOTES, Type: Housekeeping

#1661 1434 tb dail capture updates
  admin/task-based-dail-capture.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Water
