Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-02, with the labels that each got.

#1666 #1665 FuncLib: non_actionable_dails: Added PEPR msg support
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Enhancement, Category: FuncLib, CRITICAL, Jar: Water

#1670 1669 cola dails
  MASTER FUNCTIONS LIBRARY.vbs
  admin/cola-decimator.vbs
Labels: Type: Enhancement, Category: FuncLib, Category: ADMIN, Jar: Water

#1668 #1667 Replaced client_ssn with vet_ssn for email
  utilities/va-verification-request.vbs
Labels: Category: UTILITIES

#1672 255 bulk ma epd enhancements
  bulk/find-maepd-medi-cei.vbs
Labels: Type: Enhancement, Category: BULK, Jar: Water

#1676 #1650 NOTES - Client Contact - record redirect to SNAP Waived Intvw in usage log
  notes/client-contact.vbs
Labels: Type: Enhancement, Category: NOTES

#1680 #1678 Functions Library - correct variable for DWP case status
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: FuncLib

#1679 #1677 ADMIN - ExParte Report - COLA handling
  admin/ex-parte-report.vbs
Labels: Type: Bug, Category: ADMIN

#1689 #1688 ADMIN - Resolve HC EOMC - Budget Error Worklist verbiage update
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1692 #1687 ADMIN - On Demand Waiver Application - Hide Excels
  admin/on-demand-waiver-applications.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1693 #1691 - NOTES - Subsequent App - MEMO to use Function
  notes/subsequent-application.vbs
Labels: Category: NOTES, Type: Housekeeping, LID

#1690 1671 dail support expansion
  MASTER FUNCTIONS LIBRARY.vbs
  admin/dail-ccd.vbs
Labels: Type: Enhancement, Category: FuncLib, Category: ADMIN, Jar: Sand

#1694 1662 avs renewals
  notes/avs.vbs
  utilities/qi-avs-request.vbs
Labels: Type: Enhancement, Category: NOTES, Category: UTILITIES, Jar: Water, LID

#1684 #1675 waived interview other info fields
  notes/snap-waived-interview.vbs
Labels: Type: Enhancement, Category: NOTES

#1701 #1686 NOTES - HC Eval - Add Mixed HH Note
  notes/health-care-evaluation.vbs
Labels: Type: Enhancement, Category: NOTES

#1706 1705 Fix minor typos for "orientation"
  notes/mfip-orientation.vbs
Labels: Category: NOTES, Jar: Water

#1703 1682 notes hrf remove elig details
  notes/hrf.vbs
Labels: LID

#1708 #1707 NOTES - Emergency - CASE/NOTE Incorrect on Screening Info
  notes/emergency.vbs
Labels: Type: Bug, Category: NOTES

#1704 #1600 DAIL - New Hire NDNH, ensure script returns to DAIL message
  dail/new-hire-ndnh.vbs
Labels: Category: DAIL, Jar: Sand, LID
