Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-06, with the labels that each got.

#1840 #1813 Updated ADDR WRITE FUNCT- to handle for either 1 or 2 street address fields in a dialog
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, LID

#1846 803 application check retirement
  COMPLETE LIST OF SCRIPTS.vbs
  locally-installed-files/Hennepin power pad.pad
  locally-installed-files/Specialty pad.pad
  misc/desert-island-menu.vbs
  notes/main-menu.vbs
  retired-scripts/application-check.vbs
Labels: Type: Enhancement, Category: NOTES, Type: Housekeeping, Jar: Water

#1842 #1776 Updates for ex-parte person based checks of revw/hcmi, mixed household handling
  notes/health-care-evaluation.vbs
Labels: Type: Enhancement, Category: NOTES

#1845 #1844 Removed excluded time req for GRH in error handling
  actions/transfer-case.vbs
Labels: Category: ACTIONS, LID

#1850 1849 remedial care
  dail/ltc-remedial-care.vbs
Labels: Type: Bug, Type: Enhancement, Category: DAIL, Jar: Water

#1854 #1853 Allow 'interview' for voicemail option if interview attempted
  notes/client-contact.vbs
Labels: Type: Bug, Category: NOTES

#1864 #1863 NOTES - RETURNED MAIL, Update if statements to match returned mail type
  notes/returned-mail.vbs
Labels: Type: Bug, Category: NOTES

#1865 1729 shelter permanent housing revise
  shelter/permanent-housing-found.vbs
Labels: Category: NOTES, LID

#1870 #1869 FuncLib - find_last_approved_ELIG_version - MSA 99 code might not work
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: FuncLib

#1867 1145 es workflow task based dail capture updates
  admin/delete-dail-tasks.vbs
  admin/task-based-dail-capture.vbs
Labels: Type: Enhancement, Type: Housekeeping, Category: ADMIN, Jar: Sand

#1871 #123 NOTES - Elig Summ - a number of enhancements and handling for specific situations
  notes/eligibility-summary.vbs
Labels: Type: Enhancement, Category: NOTES

#1872 #123 elig summ MFIP Vendor and phrasing updates
  notes/eligibility-summary.vbs
Labels: Type: Enhancement, Category: NOTES

#1875 #123 NOTES - Elig Summ - change email for EMER amount mismatch to BZST
  notes/eligibility-summary.vbs
Labels: Category: NOTES, Type: Housekeeping

#1876 #1874 Link to SharePoint POLI/TEMPs, add changelog
  notes/returned-mail.vbs
Labels: Category: NOTES, LID

#1878 1859 abawd tracking record
  notes/abawd-tracking-record.vbs
Labels: Type: Enhancement, Category: NOTES, Jar: Water

#1880 1847 assess earned income supports in scripts for legislative change updates for cash/snap
  MASTER FUNCTIONS LIBRARY.vbs
  actions/earned-income-budgeting.vbs
  actions/full-interview.vbs
  dail/cola-review-and-approve.vbs
  misc/class-stat-detail.vbs
  notes/caf-addendum.vbs
  notes/caf.vbs
  notes/csr-testing.vbs
  notes/eligibility-summary.vbs
  notes/expedited-determination.vbs
  notes/health-care-evaluation.vbs
  retired-scripts/new-job-reported.vbs
  retired-scripts/waived-er-interview-screening.vbs
  utilities/update-check-dates.vbs
Labels: Type: Enhancement, Category: NOTES, Category: ACTIONS, Type: Housekeeping, LID
