Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-10, with the labels that each got.

#2010 #425 copied revised script into doc rec file
  notes/documents-received-testing.vbs
  notes/documents-received.vbs
Labels: Category: NOTES

#2011 #1895 #1896 Retired Change report form received and ltc hospice form …
  COMPLETE LIST OF SCRIPTS.vbs
  notes/main-menu.vbs
  retired-scripts/change-report-form-received.vbs
  retired-scripts/ltc-hospice-form-received.vbs
Labels: Category: NOTES

#2014 #2013 NOTES - ELIGIBILITY SUMMARY, update thrifty food plan amounts for 10/24
  notes/eligibility-summary.vbs
Labels: Category: NOTES, Type: Housekeeping

#2009 1993 notes interview rights and responsibilities
  notes/interview.vbs
Labels: Category: NOTES

#2007 #2005 NOTES - DISASTER FOOD REPLACEMENT, improve dialog error handling
  notes/disaster-food-replacement.vbs
Labels: Type: Bug, Category: NOTES

#2012 #388 Review Report - Add Autoclose CASE NOTE for HC
  admin/review-report.vbs
Labels: Type: Enhancement, Category: ADMIN

#2016 #2015 MHC - Enrollment - set for 2025 Open Enrollment
  managed-care/enrollment.vbs
Labels: Category: ACTIONS, Type: Housekeeping

#2019 1987 func lib move determine thrify food plan to funclib
  MASTER FUNCTIONS LIBRARY.vbs
  notes/documents-received.vbs
  notes/eligibility-summary.vbs
Labels: Category: FuncLib, LID

#2021 1781 housing support dhs rate updates
  Test scripts/Ilse/Temp Files for DHS HS/hss-service-authorization-update.vbs
  misc/hss-service-authorization-update.vbs
Labels: Type: Enhancement, Jar: Water

#2025 #2024 NOTES - Elig Summ - don't open useless pop-ups
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2018 2006 deu view infc
  deu/view-infc.vbs
Labels: Type: New Script, Category: NAV, Jar: Water

#2029 2028 task based dail communications
  admin/delete-dail-tasks.vbs
  admin/task-based-dail-capture.vbs
Labels: Type: Housekeeping, Category: ADMIN, Jar: Water

#2026 #2023 NOTES - EBT BENEFITS STOLEN, Update CASE/NOTE format to align with SPEC/MEMO
  notes/ebt-benefits-stolen.vbs
Labels: Category: NOTES

#2040 #2030 tlr report
  COMPLETE LIST OF SCRIPTS.vbs
  admin/tlr-report.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Boulder

#2043 2034 notes doc rec add mfip email functionality & updated video link
  notes/documents-received.vbs
Labels: Category: NOTES, Jar: Water, LID

#2042 #2036 ADMIN - DAIL DECIMATOR, add functionality to delete HIRE messages over 12 months old
  admin/dail-decimator.vbs
Labels: Category: DAIL, Type: Update Script Workflow

#2045 2044 update imig panel nationality codes
  notes/caf-addendum.vbs
  notes/immigration-status.vbs
Labels: Category: NOTES, LID

#2046 1379 abawd updates
  COMPLETE LIST OF SCRIPTS.vbs
  MASTER FUNCTIONS LIBRARY.vbs
  actions/abawd-fset-exemption-check.vbs
  notices/add-wcom.vbs
Labels: Type: Enhancement, Category: ACTIONS, Category: NOTICES, Category: FuncLib, Jar: Boulder

#2052 #2041 NOTES - CLIENT CONTACT, Add chat message option and allow interview usage
  notes/client-contact.vbs
Labels: Category: NOTES

#2053 #1782 Added msgbox reminding users waiver is ending
  notes/snap-waived-interview.vbs
Labels: Category: NOTES

#2057 #2056 BILS dialog bug fix
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES, LID

#2058 #1753 ADMIN - Review Report - Restart SNAP Appt Notices
  admin/review-report.vbs
Labels: Category: ADMIN

#2060 #2059 Elig Summ - Identity typo and child verif fail bug
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2062 #2061 - Elig Summ - SHEL Question Marks are 0 amount
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2054 #892 NOTES - INTERVIEW, Add emergency questions
  notes/interview.vbs
Labels: Category: NOTES
