Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-04, with the labels that each got.

#1758 #1736 WCOM - updates due to two pages
  admin/qc-results.vbs
  notices/add-wcom.vbs
  notices/ma-epd-no-initial-premium.vbs
Labels: Type: Enhancement, Category: NOTICES, Category: FuncLib, LID

#1765 1297 1262 deu clean up
  COMPLETE LIST OF SCRIPTS.vbs
  dail/dail-scrubber.vbs
  deu/deu-main-menu.vbs
  deu/paris-match-cleared.vbs
  retired-scripts/atr-received.vbs
  retired-scripts/paris-match-CC-claim-entered.vbs
Labels: Type: Enhancement, Type: Housekeeping, Jar: Sand, LID

#1766 1764 wage match op clean up
  deu/match-cleared.vbs
Labels: Type: Housekeeping, Jar: Water, LID

#1771 #1770 CLOS - Exp Det Report for BZST only
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Category: ADMIN

#1756 #1634 NOTES - HRF - add option for future HRF not received
  notes/hrf.vbs
Labels: Type: Enhancement, Category: NOTES, LID

#1772 #1752 Ex Parte Phase 1 person-based and SSI changes
  admin/ex-parte-report.vbs
Labels: Category: ADMIN, Jar: Sand

#1775 #1764 CLoS: Updated policy & procedures for DEU - MATCH CLEARED
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Housekeeping, Jar: Water

#1774 1773 ssn interface issue
  dail/bndx-scrubber.vbs
  dail/new-hire-ndnh.vbs
  dail/new-hire.vbs
  dail/tpqy-response.vbs
  dail/wage-match-scrubber.vbs
  deu/paris-match-cleared.vbs
Labels: CRITICAL, Type: Housekeeping, Category: DAIL, Jar: Water

#1778 #1770 Expedited Determination Report - Restrict to BZST and Update Interface
  admin/expedited-determination-report.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1787 NOTES - HC Evaluation emergency fix to HC renewal popup fields
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES, CRITICAL

#1788 1250 elig summ program u code handling
  notes/eligibility-summary.vbs
Labels: Category: NOTES, LID

#1779 #1773 DAIL - NEW HIRE NDNH: Streamlined the experience in the code
  dail/new-hire-ndnh.vbs
Labels: Type: Enhancement, Category: DAIL, Jar: Water

#1794 1663 Reported issues with accessing the mhc and deu menu
  COMPLETE LIST OF SCRIPTS.vbs
  deu/deu-main-menu.vbs
  managed-care/mc-main-menu.vbs
Labels: Type: Bug

#1800 #1737 NOTES - App Recvd - remove EY8 for assignment for Family Cash
  notes/application-received.vbs
Labels: Category: NOTES

#1802 #1769 Revised Appt notice and nomi functions in funclib
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Type: Housekeeping, LID

#1806 #1804 NOTES - APPLICATION RECEIVED: added transfer reminder
  notes/application-received.vbs
Labels: Type: Enhancement, Category: NOTES, CRITICAL, Jar: Water

#1808 #1663 Change script file names and script name within script to align with CLOS
  deu/ievc-list.vbs
  deu/intr-list.vbs
Labels: Type: Bug

#1809 #1804 NOTES - APP REC'D: updated transfer confirm experience
  notes/application-received.vbs
Labels: Type: Enhancement, Category: NOTES, CRITICAL, Jar: Water
