Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-12, with the labels that each got.

#2100 #2087 updated actions ltc spousal fiater to align with panel update
  actions/ltc-spousal-allocation-fiater.vbs
Labels: CRITICAL

#2101 #2088 updated to align with panel updates
  bulk/find-maepd-medi-cei.vbs
Labels: CRITICAL

#2102 #2089 updated method b wcom to align with panel updates
  notices/method-b-wcom.vbs
Labels: CRITICAL

#2108 #2107 - NOTES - HC Eval - force dates to be dates
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES

#2105 #2096 GRH MSA Method X Fiater BSUM coordinate updates
  actions/ma-fiater-for-grh-msa.vbs
Labels: CRITICAL

#2106 #2093 Add new CEC message to actionable_dail function
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Category: ADMIN

#2110 1782 sundown snap waived interview
  misc/desert-island-menu.vbs
  notes/client-contact.vbs
  retired-scripts/snap-waived-interview.vbs
Labels: Category: NOTES

#2104 #2091 updated bulk case transfer to align with panel updates
  admin/case-transfer.vbs
Labels: CRITICAL

#2099 #2086 update ltc icf dd deductions fiater to align with panel update
  actions/ltc-icf-dd-deduction-fiater.vbs
Labels: CRITICAL

#2103 #2090 updated resolve hc eomc in mmis with panel updates
  admin/resolve-hc-eomc-in-mmis.vbs
Labels: CRITICAL

#2114 #794 New ACTIONS - ENTER DATE OF DEATH script
  COMPLETE LIST OF SCRIPTS.vbs
  actions/enter-date-of-death.vbs
  notes/deceased-client-summary.vbs
  notes/main-menu.vbs
  retired-scripts/deceased-client-summary.vbs
Labels: Category: NOTES, Category: ACTIONS

#2119 #2038 Add claim number capture to DEU - Match Cleared
  deu/match-cleared.vbs
Labels: Jar: Water

#2125 #2084 Shelter Main Menu - declare dialog variable
  shelter/shelter-main-menu.vbs
Labels: Type: Housekeeping

#2118 2030 abawd report updates
  admin/tlr-report.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Rocks

#2130 #2033 Assigned Usage Categories to CLOS
  COMPLETE LIST OF SCRIPTS.vbs
Labels: LID

#2126 1898 NAV - FIND MMIS PMI IN MAXIS & FIND MAXIS CASE IN MMIS, update script functionality
  MASTER FUNCTIONS LIBRARY.vbs
  nav/nav-find-maxis-case-in-mmis.vbs
  nav/nav-find-mmis-pmi-in-maxis.vbs
Labels: Type: Housekeeping, Category: NAV

#2131 #2129 NOTES - EMERGENCY, update 12-month determination based on issuance date
  notes/emergency.vbs
Labels: Category: NOTES

#2132 #1952 NOTES - Elig Summ - automate email if script stops for GRH error
  notes/eligibility-summary.vbs
Labels: Category: NOTES, Type: Housekeeping

#2138 #1952 NOTES - ELIG SUMM - GRH Inelig NOT Income based supp hsg logic
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2140 1226 DAIL - CATCH ALL, evaluation and updates
  dail/catch-all.vbs
Labels: Category: DAIL

#2142 #2141 NOTES - INTERVIEW, add free phone via internet option
  notes/interview.vbs
Labels: Category: NOTES

#2143 #1799 ADMIN-Review Report- Reactivate casenoting "interview complete on xx/xx/xxxx""
  admin/review-report.vbs
Labels: Category: ADMIN

#2147 2146 Update Remedial Care amount for COLA
  dail/ltc-remedial-care.vbs
Labels: Category: DAIL

#2150 #2148 ADMIN - DAIL CCD: Updated dail_row location
  admin/dail-ccd.vbs
Labels: Type: Bug, Category: ADMIN, Jar: Water

#2151 2149 fset exemption funclib
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Type: Enhancement, Category: FuncLib, Jar: Water
