Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2024-07, with the labels that each got.

#1879 #1792 - ADMIN - Review Report - remove HC Standard Policy CASE NOTE
  admin/review-report.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1883 #1473 NOTES - EBT STOLEN BENEFITS, correct script name
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Bug, Category: NOTES

#1890 1851-ex-parte-report-suspended-income-handling
  admin/ex-parte-report.vbs
Labels: Category: ADMIN, Jar: Water

#1889 1630 notes health care eval asset total
  notes/health-care-evaluation.vbs
Labels: Category: NOTES, LID

#1891 #1792 NOTES - HC Eval - Remove handling for NOTE about return to standard Policy
  notes/health-care-evaluation.vbs
Labels: Category: NOTES, Type: Housekeeping

#1886 #123 NOTES - Eligibility Summary - Core Functionality finished
  notes/eligibility-summary.vbs
Labels: Type: New Script, Category: NOTES, Jar: Boulder

#1892 #1630 NOTES - HC Eval - cInt limited to +-32767 - use round
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES

#1897 1776 HC Eval ex parte multi-member-households
  notes/health-care-evaluation.vbs
Labels: Type: Bug, Category: NOTES, Jar: Sand

#1900 #1899 NOTES - Elig Summ - MONY access workaround
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES

#1902 #1868 ADMIN - On Demand Dashboard - Update worklog directly from SQL - no Array
  admin/on-demand-dashboard.vbs
Labels: Type: Housekeeping, Category: ADMIN

#1904 #1903 NOTES - Application Received - Update FOST caseloads
  notes/application-received.vbs
Labels: Category: NOTES, CRITICAL, Type: Housekeeping

#1906 #1905 ACTIONS - Transfer Case - trim x-number
  actions/transfer-case.vbs
Labels: Type: Bug, Category: ACTIONS

#1909 #1908 UTILITY - Update Check Dates - amount col was wrong
  utilities/update-check-dates.vbs
Labels: Type: Bug, Category: UTILITIES

#1911 #1910 NOTES - EMERGENCY & Function navigate_to_MAXIS_screen, add handling for navigating away from EA history panel
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Type: Bug, Category: NOTES, Category: FuncLib

#1912 #1893 DEU - (BULK) MATCH CLEARED, revert bo code language
  deu/bulk-match-cleared.vbs
  deu/match-cleared.vbs
Labels: Type: Housekeeping

#1916 #1885 NOTES - Elig Summ - Bug when HC Retro request is before app date
  notes/eligibility-summary.vbs
Labels: Type: Bug, Category: NOTES, Jar: Sand

#1918 1881 hc information report medicare
  misc/faa-health-care-information-report.vbs
Labels: Type: Enhancement, Jar: Water

#1919 1860 military service tlr
  MASTER FUNCTIONS LIBRARY.vbs
  Test scripts/Ilse/abawd-report-dhs-discrepancy-reports.vbs
  actions/tlr-screening.vbs
Labels: Type: Enhancement, Category: ACTIONS, Category: FuncLib, Jar: Water, LID

#1914 #1473 NOTES - EBT BENEFITS STOLEN, Update error handling for SPEC/MEMO denial dialog
  notes/ebt-benefits-stolen.vbs
Labels: Type: Bug, Category: NOTES
