Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-05, with the labels that each got.

#2301 #2212 ADMIN - HC Pending Assignments - feedback updates
  admin/health-care-pending-assignments.vbs
Labels: Category: ADMIN

#2298 #2287 NOTES - HC EVAL, Handle for HC Method B set to 0.00 instead of blank
  notes/health-care-evaluation.vbs
Labels: Category: NOTES

#2300 #2299 NOTES - INTERVIEW, Update location of verif buttons to align with other dialogs
  notes/interview.vbs
Labels: Category: NOTES

#2308 #2307 NOTES - INTERVIEW, UNEA income details mixed up in CASE/NOTE
  misc/interview-forms-classes.vbs
Labels: Category: NOTES

#2305 2304 retire banked months updater
  COMPLETE LIST OF SCRIPTS.vbs
  actions/main-menu.vbs
  retired-scripts/banked-months-updater.vbs
Labels: Category: ACTIONS, Category: Updater, Jar: Water

#2312 #2311 - ADMIN - Interview Team Cases Worklist - folder change
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2309 #2210 NOTES - Interview - Remove BZST from Uneditable email
  notes/interview.vbs
Labels: Category: NOTES

#2313 Removing north ridge
  notes/application-received.vbs
Labels: Category: NOTES, Jar: Water

#2315 #2314 ADMIN - Case Sampling Biweekly Report Creation
  admin/case-sampling.vbs
Labels: Category: ADMIN

#2316 #2295 MISC - Interview Forms - fix logic for CASE/NOTE entry HUF Q7
  misc/interview-forms-classes.vbs
Labels: Category: NOTES

#2327 1888 NOTES - HC eval, add burial assets yes/no
  misc/class-stat-detail.vbs
  notes/health-care-evaluation.vbs
Labels: Category: NOTES
