Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-04, with the labels that each got.

#2268 #2267 DEU - PARIS MATCH CLEARED, show full resolution status in CASE/NOTE header
  deu/paris-match-cleared.vbs
Labels: Type: Update Script Workflow

#2266 #2265 DEU - (BULK) MATCH CLEARED, update 'BN' code case/note language
  deu/bulk-match-cleared.vbs
  deu/match-cleared.vbs
Labels: Type: Update Script Workflow

#2269 #2225 ADMIN - Case Sampling - comma error and file create restart
  admin/case-sampling.vbs
Labels: Category: ADMIN

#2271 #2270 Interview Forms Classes - add answer_is_array parameter where missing
  misc/interview-forms-classes.vbs
Labels: Category: NOTES

#2275 #2274 NOTES - Interview - skip MEMO if not opened
  notes/interview.vbs
Labels: Category: NOTES

#2282 #2278 ACTIONS - EIB, Update dialog sizing and coordinates
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS

#2285 #2284 NOTES - Eligibility Summary - ELIG DENY error
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2288 #2279 NOTES - Interview - BUG in getting Exp Det accurate
  notes/interview.vbs
Labels: Category: NOTES

#2290 #2233 ADMIN - Interview Cases Worklist - add excel formula if missing
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2289 #2278 ACTIONS - EIB, Fix dialog sizing, add changelog
  actions/earned-income-budgeting.vbs
Labels: Type: Bug, Category: ACTIONS

#2297 #2296 ADMIN - Case Sampling - add summary field - failed list bug fix
  admin/case-sampling.vbs
Labels: Category: ADMIN
