Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-03, with the labels that each got.

#2224 #2195 & #2223 NOTES - Elig Summ
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2226 #2220 Update handling for RCA assessment
  MASTER FUNCTIONS LIBRARY.vbs
  admin/tlr-report.vbs
Labels: Type: Bug, Category: ADMIN

#2229 #2228 NOTES - CAF - extend lookback for REVW month to cm-3
  notes/caf.vbs
Labels: Category: NOTES

#2231 #2230 ADMIN - On Demand Waiver - change email from TP to JF
  admin/on-demand-waiver-applications.vbs
Labels: Category: BULK, Type: Housekeeping, Category: ADMIN

#2234 Update case assignment procedure for new caseloads
  notes/application-received.vbs
Labels: Category: NOTES, CRITICAL

#2237 #2236 MISC - INTERVIEW FORMS CLASSES, Adjust cell height based on length of worker comments
  misc/interview-forms-classes.vbs
Labels: Type: Bug, Category: NOTES

#2245 #2225 ADMIN - Case Sampling - compilation file handling tweaks
  admin/case-sampling.vbs
Labels: Category: ADMIN

#2246 #2224 NOTES - CAF, Improve handling for reading/adding Verifs CASE/NOTEs
  notes/caf.vbs
Labels: Category: NOTES

#2253 #2233 ADMIN - Interview Team Worklist - change protect functionality
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2252 #2168 #671 ADMIN - DAIL UNCLEAR INFO, add handling for MFIP, GA, UHFS
  admin/dail-unclear-information.vbs
Labels: Category: DAIL, Category: ADMIN

#2255 #2254 NOTES - Interview - dim the variable to leave the loop
  notes/interview.vbs
Labels: Category: NOTES

#2256 #2225 ADMIN - Case Sampling - allow for second run in one day
  admin/case-sampling.vbs
Labels: Category: ADMIN

#2261 #2233 ADMIN - Interview Team Worklist - Move files at the END
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2259 #2235 & #2258 NOTES - Interview updates
  notes/interview.vbs
Labels: Category: NOTES

#2260 #2257 UTILITIES - ALL SCRIPTS, update to include usage eval info
  utilities/all-scripts.vbs
Labels: Category: UTILITIES, Type: Update Script Workflow

#2264 #2263 CLOS - Fix DAIL - SDX Match syntax error
  COMPLETE LIST OF SCRIPTS.vbs
Labels: Type: Bug

#2262 #2243 ACTIONS - EIB, add conversation field to dialog that applies to both SNAP and MFIP
  actions/earned-income-budgeting.vbs
Labels: Category: ACTIONS
