Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-06, with the labels that each got.

#2329 #2212 - ADMIN - HC Pending Assignment - check for open list
  admin/health-care-pending-assignments.vbs
Labels: Category: ADMIN

#2328 #2317 NOTES - INTERVIEW, display issues with numerous JOBS panels
  notes/interview.vbs
Labels: Category: NOTES

#2338 #2314 ADMIN - Case Sampling - update biweekly report sharepoint folder
  admin/case-sampling.vbs
Labels: Category: ADMIN

#2334 #2120 Retire ACTIONS - SHELTER EXPENSE VERIF RECEIVED
  COMPLETE LIST OF SCRIPTS.vbs
  notes/documents-received.vbs
  notes/main-menu.vbs
  retired-scripts/shelter-expense-verif-received.vbs
Labels: Category: NOTES, Category: ACTIONS

#2343 2320 app received healthcare caseloads
  notes/application-received.vbs
Labels: Category: NOTES

#2350 #2116 health care eval ex parte mixed household header change, secu bug fix
  notes/health-care-evaluation.vbs
Labels: Category: NOTES
