Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-08, with the labels that each got.

#2390 #2389 APP received update logic for pending CCAP prior app
  notes/application-received.vbs
Labels: Category: NOTES

#2398 #2395 NOTES - Interview - reset leave_loop on main dialog
  notes/interview.vbs
Labels: Category: NOTES

#2402 #2387-Update-Item-Variable
  MASTER FUNCTIONS LIBRARY.vbs
  actions/tlr-screening.vbs
  admin/close-mmis-rate-2-in-mmis.vbs
  admin/dail-12-month-contact.vbs
  admin/dail-decimator.vbs
  admin/dail-fmed-deduction.vbs
  admin/mont-report.vbs
  admin/review-report.vbs
  admin/send-cbo-manual-referrals.vbs
  admin/task-based-dail-capture.vbs
  admin/wf1-case-status.vbs
  deu/bulk-match-cleared.vbs
  deu/paris-match-cleared.vbs
  managed-care/enrollment-note.vbs
  managed-care/enrollment.vbs
  misc/hss-maxis-facility-report.vbs
  misc/hss-service-authorization-update.vbs
  notes/avs.vbs
  notes/caf.vbs
  notes/expedited-determination.vbs
  notes/health-care-transition.vbs
  notes/interview-summary.vbs
  notes/mets-retro-health-care.vbs
Labels: Type: Housekeeping, Jar: Water

#2405 #2393 ADMIN - Ex Parte Report - change PM for SVES Death email
  admin/ex-parte-report.vbs
Labels: Category: ADMIN

#2406 #2339 Glob Var - official table string
  locally-installed-files/SETTINGS - GLOBAL VARIABLES.vbs
Labels: Type: Housekeeping

#2403 #2392 200% FPG Updates
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Jar: Water
