Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-01, with the labels that each got.

#2154 #2153 Update 10-day cutoff dates for 2025
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#2155 #2607 New interview line number
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: NOTES

#2161 #2160 ADMIN - Copy Case Data for Training - excel handling
  admin/copy-case-data-for-training.vbs
Labels: Type: Bug, Category: ADMIN

#2159 #2156 interview inquiry handling
  notes/interview.vbs
Labels: Type: Enhancement, Category: NOTES

#2165 #2049 NOTES - Interview - add GRH to interview team output
  notes/interview.vbs
Labels: Category: NOTES

#2163 #2162 NOTES - EBT BENEFITS STOLEN, update denial reasons
  notes/ebt-benefits-stolen.vbs
Labels: Category: NOTES

#2171 #2170 Update language to match actual PEPR DAIL message
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib, Category: DAIL

#2174 #2173 Functions Library - Add program option to MF Orientation
  MASTER FUNCTIONS LIBRARY.vbs
Labels: Category: FuncLib

#2172 #2157 ADMIN - On Demand Dashboard - remove interview waiver handling
  admin/on-demand-dashboard.vbs
Labels: Category: ADMIN

#2179 #2166 ADMIN - Interview Team Worklist - Allow current day interviews on the list
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2180 #1920 FAA HC Information Report: Post testing updates
  misc/faa-health-care-information-report.vbs
Labels: Type: Enhancement, Jar: Sand

#2176 #99 Create DAIL scrubber for MEC2 messages
  COMPLETE LIST OF SCRIPTS.vbs
  dail/MEC2-message.vbs
  dail/dail-scrubber.vbs
Labels: Category: DAIL

#2177 #2047 - New Script - Interview Team Case Tracking
  admin/interview-team-case-tracking.vbs
Labels: Type: New Script

#2184 #2183 ADMIN - Training Case Creator - mailing address coordinate update
  admin/training-case-creator.vbs
Labels: Category: ADMIN

#2188 #1952 NOTES - Eligibility Summary - GRH Initial App Month Handling
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2190 #1920 MISC- FAA Health Care Information Report: Added SSN Match
  misc/faa-health-care-information-report.vbs
Labels: Type: Enhancement, Category: ADMIN, Jar: Pebbles
