Repository Hennepin-County/MAXIS-scripts, pull requests merged in 2025-02, with the labels that each got.

#2193 #2192 ACTIONS - EIB - six-month budgeting workaround support
  actions/earned-income-budgeting.vbs
Labels: Category: ACTIONS

#2191 #2189 NOTES - HRF, update to reflect new policy guidance
  notes/hrf.vbs
Labels: Category: NOTES

#2194 #2178 NOTES - Interview Summary - Remove signature date
  notes/interview-summary.vbs
Labels: Category: ACTIONS

#2197 #2195 NOTES - Elig Summ - Added error checks for new 6-month reporting
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2199 #2192 ACTION - EIB - resolve logic errors in workaround selection
  actions/earned-income-budgeting.vbs
Labels: Category: ACTIONS

#2201 #2187 NOTES - Interview - safety measure for addr_eff_date
  notes/interview.vbs
Labels: Category: NOTES

#2200 #2189 NOTES - HRF, jobs and unea panel reading error handling
  notes/hrf.vbs
Labels: Type: Bug, Category: NOTES

#2202 #671 Handling to skip DAIL messages that trigger errors since error r…
  admin/dail-unclear-information.vbs
Labels: Category: NOTES

#2204 #2203 ADMIN - Interview Team Worklist - Ignore blank XMLs
  admin/interview-team-cases-worklist.vbs
Labels: Category: ADMIN

#2207 #2206 adding new PEPR message handling
  MASTER FUNCTIONS LIBRARY.vbs
  admin/dail-decimator.vbs
Labels: Category: ADMIN

#2209 #671 #2208 DAIL - UNCLEAR INFO, Ensure ELIG/FS viewed for CM, add changelog
  admin/dail-unclear-information.vbs
Labels: Category: DAIL, Type: Update Script Workflow

#2214 New pending GRH basket added
  notes/application-received.vbs
Labels: Category: NOTES

#2216 Removing monthly reporting references from interview
  notes/interview.vbs
Labels: Category: NOTES, Type: Housekeeping, Jar: Water

#2217 #1952 Elig Summ - GRH Supportive Housing month logic fix
  notes/eligibility-summary.vbs
Labels: Category: NOTES

#2218 #2192 EIB - reset and scroll PIC check list when entering, not before
  actions/earned-income-budgeting.vbs
Labels: Category: ACTIONS

#2222 #2221 NOTES - Interview - align the index in the xml output
  notes/interview.vbs
Labels: Category: NOTES
